# Compiled Object files
*.slo
*.lo
*.o
*.out
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# default build dir
/build/

#snapcraft build dirs
/snap/
/parts/

# JetBrains CLion IDE
.idea

# Visual Studio tools
.vs
.vscode

# backups & tmp files
*~
*.bak
*.swp
*.d
.DS_Store
