# Compiled Object files
*.slo
*.lo
*.o*
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# I18n
*.mo

# Makefiles
makefile
/po/Makefile
/setup/win/Makefile

# Python
*.pyc

# MSVC Compiler and Build files
*.opensdf
*.suo
*.sdf
.deps
/build/msw-vc-2013e/Win32
/build/msw-vc-2013e/x64
/build/msw-vc-2015/Win32
/build/msw-vc-2015/x64
/build/msw_tests-vc-2013e/Win32
/build/msw_tests-vc-2013e/x64
/mmex_release

# Extra files used for testing
/build/msw_tests-vc-2013e/test_*.mmb
/build/msw_tests-vc-2013e/test_*.emb
/build/msw_tests-vc-2013e/test_*.txt
/build/msw_tests-vc-2013e/test_*.sql
*.patch
*.zip

#autoconf
aclocal.m4
/autom4te.cache/
config.log
config.status
shared-ld-sh
bk-deps
/build/bakefiles/.bakefile_gen.state

#dist
*.dmg
/build/macosx/dmg/

#backups & tmp file
*~
*.bak
*.swp

*.d

/release
mmex.VC.db
/build/msw-vc-2015/mmex_mmex.vcxproj.user
/build/msw-vc-2015/enc_temp_folder/3e7dd2655d9e8649a6214a17e9c339c/qif_import_gui.cpp
/build/msw-vc-2015/enc_temp_folder/adca7e22dc6d9370a6b36da3c22b3461/qif_import_gui.cpp
