[submodule "lib/wxsqlite3"]
	path = lib/wxsqlite3
	url = https://github.com/moneymanagerex/wxsqlite3.git
[submodule "3rd/mongoose"]
	path = 3rd/mongoose
	url = https://github.com/moneymanagerex/mongoose.git
[submodule "3rd/LuaGlue"]
	path = 3rd/LuaGlue
	url = https://github.com/moneymanagerex/LuaGlue.git
[submodule "3rd/Chart.js"]
	path = 3rd/Chart.js
	url = https://github.com/Regaddi/Chart.js.git
[submodule "3rd/cgitemplate"]
	path = 3rd/cgitemplate
	url = https://github.com/moneymanagerex/html-template.git
[submodule "3rd/cajun"]
	path = 3rd/cajun
	url = https://github.com/moneymanagerex/cajun.git
[submodule "3rd/csv-parser"]
	path = 3rd/csv-parser
	url = https://github.com/moneymanagerex/csv-parser.git
[submodule "lib/cppunit"]
	path = lib/cppunit
	url = https://github.com/moneymanagerex/cppunit.git
[submodule "3rd/anvil"]
	path = 3rd/anvil
	url = https://github.com/moneymanagerex/anvil.git
