# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
# See https://git-scm.com/docs/git-blame#_mapping_authors
Tomasz Słodkowicz <slodki@users.noreply.github.com>
<slodki> <slodki@users.noreply.github.com>
Lisheng Guan <guanlisheng@gmail.com> <guanlisheng@7f5d68d0-c712-0410-839f-9b116a576cc5>
Lisheng Guan <guanlisheng@gmail.com>
Gabriele Villa <gabriele@villanet.it> <gabriele-v@users.noreply.github.com>
Gabriele Villa <gabriele@villanet.it> <gabriele@villanet.it>
Gabriele Villa <gabriele@villanet.it> <Gabriele-V>
Gabriele Villa <gabriele@villanet.it> <gabriele-v@7f5d68d0-c712-0410-839f-9b116a576cc5>
James Higley <siena123@mstar.net>
James Higley <siena123@mstar.net> <siena123@7f5d68d0-c712-0410-839f-9b116a576cc5>
Stefano Georgio <stef145g@gmail.com>
Stefano Georgio <stef145g@gmail.com> <stef145g@7f5d68d0-c712-0410-839f-9b116a576cc5>
Nikolay Akimov <nikolay.akimov@gmail.com>
Nikolay Akimov <nikolay.akimov@gmail.com> <vomikan@7f5d68d0-c712-0410-839f-9b116a576cc5>
Nikolay Akimov <nikolay.akimov@gmail.com> <vomikan@mail.ru>
<dwrj87@gmail.com> <dwrj87@users.noreply.github.com>
Madhan Kanagavel <madhan> <madhan@7f5d68d0-c712-0410-839f-9b116a576cc5>
Patrick O'Malley <omalleypat> <omalleypat@users.noreply.github.com>
Patrick O'Malley <omalleypat> <68omalley@gmail.com>
Patrick O'Malley <omalleypat> <omalleypat@7f5d68d0-c712-0410-839f-9b116a576cc5>
Tomáš Frťala <tomas.frtala@gmail.com>
Tomáš Frťala <tomas.frtala@gmail.com> <tomas.frtala@ardaco.com>
Tomáš Frťala <tomas.frtala@gmail.com> <tomasfrtala@users.noreply.github.com>
Yosef Shatsky <ysdevpub@gmail.com>
Yosef Shatsky <ysdevpub@gmail.com> <yshatsky@gmail.com>
<jlauria@hotmail.com> <s2108312@users.noreply.github.com>
Stephen Groat <stephen@egroat.com>
Stephen Groat <stephen@egroat.com> <stephengroat@users.noreply.github.com>
