language: cpp
dist: trusty
sudo: required
services: [ docker ]
git: { depth: 10 } # don't clone all history from repo, leave 10 for build queue
os: linux # default build params for matrix
compiler: gcc

env:
  global:
  - MAKEFLAGS=-j4
  - BUILD_TYPE=Release
  - BUILD_TESTS=OFF
  matrix: # targets for linux
  - OS=debian DIST=jessie
  - OS=debian DIST=stretch
  - OS=debian DIST=buster
  - OS=ubuntu DIST=xenial
  - OS=ubuntu DIST=zesty
  - OS=ubuntu DIST=artful
  - OS=fedora
  - OS=fedora DIST=24
  - OS=fedora DIST=25
  - OS=fedora DIST=26
  - OS=opensuse
  - OS=opensuse DIST=42.2
  - OS=opensuse DIST=42.3
  - OS=archlinux
  - OS=el DIST=7 # DIST=6 doesn't provide webview in wxGTK3
  - OS=linuxmint DIST=serena
  - OS=slackware DIST=14.2 # DIST=14.1 has cmake 2.x

matrix:
  fast_finish: true
  include: # add non-linux targets
  - { os: osx, osx_image: xcode6.4, env: OS=osx DIST=yosemite }
  - { os: osx, osx_image: xcode8, env: OS=osx DIST=el_capitan }
  - { os: osx, osx_image: xcode9, env: OS=macos DIST=sierra }
  exclude:
  - { osx_image: xcode6.4, env: BUILD_TESTS=ON } # libtoolize problems
  allow_failures:
  - env: OS=debian DIST=jessie
  - env: OS=debian DIST=stretch
  - env: OS=debian DIST=buster
  - env: OS=ubuntu DIST=xenial
  - env: OS=ubuntu DIST=artful
  - env: OS=fedora
  - env: OS=fedora DIST=24
  - env: OS=fedora DIST=25
  - env: OS=fedora DIST=26
  - env: OS=opensuse
  - env: OS=opensuse DIST=42.2
  - env: OS=opensuse DIST=42.3
  - env: OS=archlinux
  - env: OS=linuxmint DIST=serena
  - env: OS=osx DIST=yosemite
  - env: OS=osx DIST=el_capitan
  - env: OS=slackware DIST=14.2

install: |-
  DOCKER=moneymanagerex/mmex_build_env:$OS${DIST:+.$DIST}
  case $TRAVIS_OS_NAME in
    linux)
      docker pull ${DOCKER}
      docker build dockers/$OS${DIST:+.$DIST} --cache-from ${DOCKER} -t ${DOCKER}
      ;;
    osx)
      BREW=wxmac
      brew list gettext >/dev/null || BREW="$BREW gettext"
      brew list libtool >/dev/null || BREW="$BREW libtool"
      brew list automake >/dev/null || BREW="$BREW automake"
      brew install $BREW && brew link --force gettext libtool
      ;;
  esac
  mkdir build && cd build

script: |-
  CMAKE_CMD="cmake -DMMEX_BUILD_TESTS=$BUILD_TESTS -DCMAKE_BUILD_TYPE=$BUILD_TYPE .."
  case $TRAVIS_OS_NAME in
    linux)
      docker run -it --rm -w /moneymanagerex/build -e MAKEFLAGS \
                 -v $TRAVIS_BUILD_DIR:/moneymanagerex ${DOCKER} \
        bash -c "$CMAKE_CMD && make package" ;;
    osx)
      $CMAKE_CMD && make package ;;
  esac

notifications: # set notification options
  email:
    recipients:
      - developers@moneymanagerex.org
    on_success: change # change is when the repo status goes from pass to fail or vice versa
    on_failure: always

after_success:
# Rename mac packages
- if [ $TRAVIS_OS_NAME = osx ]; then
    for p in *.dmg; do mv -v $p ${p%Darwin.*}$OS.$DIST.dmg; done; fi
# Rename Slackware packages
- if [ $OS = slackware ]; then
    for p in *.tar.xz; do mv -v $p ${p%.tar.xz}.txz; done; fi

# Set encrypted variable 'GitHub_auth_token' in Travis repo settings to deploy packages
# for tagged commits to GitHub Releases.
# Set encrypted variable 'PACKAGECLOUD_TOKEN' in Travis repo settings to deploy packages
# for tagged commits to packagecloud repo.
deploy:
- provider: releases
  api_key: $GitHub_auth_token
  file_glob: true
  file: $TRAVIS_BUILD_DIR/build/*.{deb,rpm,dmg,txz,pkg.tar.xz}
  skip_cleanup: true
  on: # Set deploy conditions
      # Deploy only when tag is specified
      tags: true
      # and only when API token is set
      condition: "${#GitHub_auth_token} != 0 && $BUILD_TYPE = Release"
- provider: packagecloud
  repository: ${TRAVIS_REPO_SLUG#*/}
  username: ${TRAVIS_REPO_SLUG%/*}
  token: $PACKAGECLOUD_TOKEN
  dist: $OS/$DIST
  package_glob: $TRAVIS_BUILD_DIR/build/*.{deb,rpm}
  skip_cleanup: true
  on: # Set deploy conditions
      # Deploy only when tag is specified
      tags: true
      # and only packages generated by gcc from Linux
      # and only when API token is set
      condition: "$TRAVIS_OS_NAME = linux && ${#DIST} != 0 && $OS != slackware && ${#PACKAGECLOUD_TOKEN} != 0 && $BUILD_TYPE = Release"
