language: cpp
dist: trusty
sudo: required
services: [ docker ]
git: { depth: 10 } # don't clone all history from repo, leave 10 for build queue
os: linux # default build params for matrix
compiler: gcc

env:
  global:
    - MAKEFLAGS="-j4"
    - BUILD_TYPE=Release
  matrix:
    # targets for linux
    - OS=ubuntu DIST=xenial
    - OS=ubuntu DIST=zesty
    - OS=fedora DIST=25
    - OS=opensuse DIST=42.2
    - OS=archlinux

matrix:
  include: # add non-linux targets
    - os: osx
      env: OS=macos
      compiler: gcc

install:
  - if [ $TRAVIS_OS_NAME = linux ]; then docker build -f dockers/Dockerfile.$OS${DIST:+.$DIST} dockers -t mmex_build_env; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew update; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew install wxmac; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gettext && brew link --force gettext; fi
  - mkdir -p build/$BUILD_TYPE && cd build/$BUILD_TYPE

script:
  - if [ $TRAVIS_OS_NAME = linux ]; then docker run -it --rm -w /moneymanagerex/build/$BUILD_TYPE -e MAKEFLAGS -v $TRAVIS_BUILD_DIR:/moneymanagerex mmex_build_env bash -c "cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ../.. && make package"; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ../.. && make package; fi

notifications: # set notification options
  email:
    recipients:
      - developers@moneymanagerex.org
    on_success: change # change is when the repo status goes from pass to fail or vice versa
    on_failure: always

after_success:
  # Renames the artifact according to their facility
  - shopt -s nullglob; for p in *.{deb,rpm,dmg,pkg.tar.xz}; do mv -v {,$OS${DIST:+-$DIST}-}$p; done

# Set encrypted variable 'api_key' in Travis repo settings to deploy packages
# for tagged commits to GitHub Releases.
# Set encrypted variable 'PACKAGECLOUD_TOKEN' in Travis repo settings to deploy packages
# for tagged commits to packagecloud repo.
deploy:
  - provider: releases
    api_key: $GitHub_auth_token
    file_glob: true
    file: $TRAVIS_BUILD_DIR/build/$BUILD_TYPE/*.{deb,rpm,dmg,pkg.tar.xz}
    skip_cleanup: true
    on: # Set deploy conditions
        # Deploy only when tag is specified
        tags: true
        # and only when API token is set
        condition: "${#GitHub_auth_token} != 0"
  - provider: packagecloud
    repository: ${TRAVIS_REPO_SLUG#*/}
    username: ${TRAVIS_REPO_SLUG%/*}
    token: $PACKAGECLOUD_TOKEN
    dist: $OS/$DIST
    package_glob: $TRAVIS_BUILD_DIR/build/$BUILD_TYPE/*.{deb,rpm}
    skip_cleanup: true
    force: true
    on: # Set deploy conditions
        # Deploy only when tag is specified
        tags: true
        # and only packages generated by gcc from Linux
        # and only when API token is set
        condition: "$TRAVIS_OS_NAME = linux && ${#DIST} != 0 && ${#PACKAGECLOUD_TOKEN} != 0"
