language: cpp
dist: trusty
sudo: required
services: [ docker ]
git: { depth: 3 } # don't clone all history from repo
os: linux # default build params for matrix
compiler: gcc

env:
  global:
    - MAKEFLAGS="-j4"
  matrix:
    # targets for linux
    - OS=ubuntu DIST=xenial
    - OS=ubuntu DIST=zesty
    - OS=fedora DIST=25
    - OS=opensuse DIST=42.2

matrix:
  include: # add non-linux targets
    - os: osx
      env:
      compiler: gcc

install:
  - if [ $TRAVIS_OS_NAME = linux ]; then docker build -f dockers/Dockerfile.$OS.$DIST . -t mmex_build_env; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew update; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew install wxmac; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gettext && brew link --force gettext; fi
  - mkdir -p build/release && cd build/release

script:
  - if [ $TRAVIS_OS_NAME = linux ]; then docker run -it -w /moneymanagerex/build/release -e MAKEFLAGS -v $PWD:/moneymanagerex/build/release mmex_build_env bash -c "cmake -DCMAKE_BUILD_TYPE=Release ../../ && make package"; fi
  - if [ $TRAVIS_OS_NAME = osx ]; then cmake -DCMAKE_BUILD_TYPE=Release ../../ && make package; fi

notifications: # set notification options
  email:
    recipients:
      - developers@moneymanagerex.org
    on_success: change # change is when the repo status goes from pass to fail or vice versa
    on_failure: always

before_deploy:
  # Renames the artifact according to their facility
  - case $TRAVIS_OS_NAME in linux) prefix="$OS-$DIST-";; osx) prefix="macos-";; esac
  - shopt -s nullglob extglob; for p in !($prefix*).{deb,rpm,dmg}; do mv -v {,$prefix}$p; done

# Set encrypted variable 'api_key' in Travis repo settings to deploy packages
# for tagged commits to GitHub Releases.
# Set encrypted variable 'PACKAGECLOUD_TOKEN' in Travis repo settings to deploy packages
# for tagged commits to packagecloud repo.
deploy:
  - provider: releases
    api_key: ${api_key}
    file_glob: true
    file: $TRAVIS_BUILD_DIR/build/release/*.{deb,rpm,dmg}
    skip_cleanup: true
    on: # Set deploy conditions
        # Deploy only when tag is specified
        tags: true
        # and only when API token is set
        condition: "${#api_key} != 0"
  - provider: packagecloud
    repository: "moneymanagerex"
    username: ${TRAVIS_REPO_SLUG%/*}
    token: $PACKAGECLOUD_TOKEN
    dist: $OS/$DIST
    package_glob: $TRAVIS_BUILD_DIR/build/release/*.{deb,rpm}
    skip_cleanup: true
    on: # Set deploy conditions
        # Deploy only when tag is specified
        tags: true
        # and only packages generated by gcc from linux
        # and only when API token is set
        condition: "$TRAVIS_OS_NAME = linux && ${#PACKAGECLOUD_TOKEN} != 0"
