version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2013
configuration: Release
platform: x64
environment:
  wxwin: c:\projects\wxwidgets
install:
- cmd: >-
    git submodule update --init


    git clone https://github.com/wxWidgets/wxWidgets.git c:\projects\wxwidgets


    cd c:\projects\wxwidgets

    git checkout tags/v3.1.0

    cd c:\projects\moneymanagerex


    copy "c:\projects\wxwidgets\include\wx\msw\setup0.h" "c:\projects\wxwidgets\include\wx\msw\setup.h"


    set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%

    "c:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe" "c:\projects\wxwidgets\build\msw\wx_vc12.sln" /verbosity:quiet /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
before_build:
- cmd: set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
build:
  project: build/msw-vc-2013e/mmex.sln
  parallel: true
  verbosity: normal