Source: mmex
Section: misc
Priority: extra
Maintainer: Nikolay <vomikan@mail.ru>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libwxgtk3.0-dev (>= 3.0.0), python-dev (>= 2.7.3), libreadline-dev (>=6.2), gcc-4.7-base (>=4.7)
Standards-Version: 3.9.2
Homepage: https://sourceforge.net/projects/moneymanagerex
#Vcs-Git: git://git.debian.org/collab-maint/mmex.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mmex.git;a=summary

Package: mmex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.3.5-1), libwxgtk3.0-0 (>= 3.0.0)
Description: Simple to use financial management software
 Money  Manager  Ex (MMEX) is a free, open-source,
 cross-platform, easy-to-use personal finance software.
 It primarily helps organize one`s finances and keeps
 track of where, when and how the money goes.
 MMEX includes all the basic features that 90% of users
 would want to see in a personal finance application.
 The design goals are to concentrate  on  simplicity
 and  user friendliness - something one can use everyday.
