[Desktop Entry]
Name=Money Manager Extended (MMEx)
Name[cs]=MMEx osobní finance a správa peněz
Name[de]=MMEx persönliche Finanzen und Geldmanagement
Name[en]=Money Manager Extended (MMEx)
Name[en_GB]=Money Manager Extended (MMEx)
Name[es]=MMEx finanzas personales y manejo de dinero
Name[fi]=MMEx henkilökohtainen talous ja rahanhallinta
Name[fr]=MMEx finances personnelles et gestion de l'argent
Name[hu]=MMEx személyes pénzügyek és pénzkezelés
Name[is]=MMEx einkafjármál og peningastjórnun
Name[it]=MMEx finanza personale e gestione del denaro
Name[lv]=MMEx personīgās finanses un naudas pārvaldība
Name[nl]=MMEx persoonlijke financiën en geldbeheer
Name[no_NY]=MMEx persoonlijke financiën en geldbeheer
Name[pt]=MMEx finanças pessoais e gestão de dinheiro
Name[pt_BR]=MMEx finanças pessoais e gestão de dinheiro
Name[ro]=MMEx finanțe personale și gestionarea banilor
Name[ru]=MMEx Mенеджер личных финансов
Name[sk]=MMEx osobné financie a správa peňazí
Name[sl]=MMEx osebne finance in upravljanje denarja
Name[tr]=MMEx kişisel finans ve para yönetimi
Name[uk]=MMEx особисті фінанси та управління грошима
Exec=mmex
Type=Application
Keywords=money;accounts;accounting;finance;
Keywords[hu]=pénz;számlák;számvitel;pénzügyek;
GenericName=Personal financial and money management software
GenericName[cs]=Software pro správu osobních financí a peněz
GenericName[de]=Persönliche Finanz- und Geldverwaltungssoftware
GenericName[en]=Personal financial and money management software
GenericName[en_GB]=Personal financial and money management software
GenericName[es]=Software de administración de dinero y finanzas personales
GenericName[fi]=Henkilökohtainen talous- ja rahanhallintaohjelmisto
GenericName[fr]=Logiciel de finances personnelles et de gestion de l'argent
GenericName[hu]=Személyes pénzügyi és pénzkezelési szoftver
GenericName[is]=Hugbúnaður fyrir persónulegan fjármála- og peningastjórnun
GenericName[it]=Software personale finanziario e di gestione del denaro
GenericName[lv]=Personīgo finanšu un naudas pārvaldības programmatūra
GenericName[nl]=Software voor persoonlijk financieel en geldbeheer
GenericName[no_NY]=Software voor persoonlijk financieel en geldbeheer
GenericName[pt]=Software de gestão financeira e financeira pessoal
GenericName[pt_BR]=Software de gestão financeira e financeira pessoal
GenericName[ro]=Software financiar personal și software de gestionare a banilor
GenericName[ru]=Программное обеспечение для управления личными финансами и деньгами
GenericName[sk]=Softvér na správu osobných financií a peňazí
GenericName[sl]=Programska oprema za upravljanje osebnih financ in denarja
GenericName[tr]=Kişisel finans ve para yönetimi yazılımı
GenericName[uk]=Програмне забезпечення для управління особистими фінансами та грошима
Comment=Organize finances and track cash flow
Comment[cs]=Uspořádejte finance a sledujte peněžní toky
Comment[de]=Finanzen organisieren und den Cashflow verfolgen
Comment[en]=Organize finances and track cash flow
Comment[en_GB]=Organise finances and track cash flow
Comment[es]=Organizar las finanzas y realizar un seguimiento del flujo de caja
Comment[fi]=Järjestä talous ja seuraa kassavirtaa
Comment[fr]=Organiser les finances et suivre les flux de trésorerie
Comment[hu]=Pénzügyek megszervezése és pénzforgalom nyomon követése
Comment[is]=Skipuleggja fjármál og fylgjast með sjóðstreymi
Comment[it]=Organizza le finanze e monitora il flusso di cassa
Comment[lv]=Organizēt finanses un sekot līdzi naudas plūsmai
Comment[nl]=Financiën organiseren en cashflow bijhouden
Comment[no_NY]=Financiën organiseren en cashflow bijhouden
Comment[pt]=Organize as finanças e acompanhe o fluxo de caixa
Comment[pt_BR]=Organize as finanças e acompanhe o fluxo de caixa
Comment[ro]=Organizați finanțele și urmăriți fluxul de numerar
Comment[ru]=Организовывать финансы и отслеживать движение денежных средств
Comment[sk]=Usporiadajte financie a sledujte peňažný tok
Comment[sl]=Organizirajte finance in sledite denarnim tokovom
Comment[tr]=Finansmanı organize edin ve nakit akışını takip edin
Comment[uk]=Організуйте фінанси та відстежуйте грошові потоки
Icon=mmex
Terminal=false
DocPath=mmex/help/index.html
Categories=Finance;Office;
Categories[cs]=Finance;Kancelář;
Categories[de]=Finanzen;Büro;
Categories[en]=Finance;Office;
Categories[en_GB]=Finance;Office;
Categories[es]=Finanzas;Oficina;
Categories[fi]=Rahoitus;Toimisto;
Categories[fr]=Finances;Bureau;
Categories[hu]=Pénzügy;Iroda;
Categories[is]=Fjármál;Skrifstofa;
Categories[it]=Finanza;Ufficio;
Categories[lv]=Finanses;Birojs;
Categories[nl]=Financiën;Kantoor;
Categories[no_NY]=Financiën;Kantoor;
Categories[pt]=Finanças;Escritório;
Categories[pt_BR]=Finanças;Escritório;
Categories[ro]=Finanțe;Birou;
Categories[ru]=Финансы;Офис;
Categories[sk]=Financie;Kancelária;
Categories[sl]=Finance;Pisarna;
Categories[tr]=Finans;Ofis;
Categories[uk]=Фінанси;Офіс;
