[Desktop Entry]
Encoding=UTF-8
Name=Money Manager Ex
Exec=mmex
Type=Application
Name[ru]=MMEX Mенеджер личных финансов
GenericName=Cross Platform Personal Financial Manager
GenericName[it]=Gestore multi-piattaforma di finanza personale
GenericName[ru]=Кросплатформенный менеджер личных финансов
Comment=A free, open-source, cross-platform, easy-to-use personal finance software
Comment[it]=Un gestore delle finanze personali, libero, open source, facile da usare, multi piattaforma.
Comment[ru]=Бесплатная и лёгкая в использовании, мультиплатформенная программа с открытым кодом.
Comment[cs]=Zdarma, open-source, cross-platformní, bezstarostný-až k-cvičení osobní finance software
Comment[de]=Ein freies, Open-Source, Cross-Plattform, einfach zu bedienende persönliche Finanz-Software
Comment[es]=Un libre, de código abierto, multiplataforma, fácil de usar software de finanzas personales
Comment[fi]=Ilmainen, avoimen lähdekoodin, cross-platform, helposti käyttää henkilökohtaisia rahoittaa ohjelmisto
Comment[fr]=Une libre, open-source, multi-plateforme, facile à utiliser un logiciel de finances personnelles
Comment[hu]=Az ingyenes, nyílt forráskódú, platformfüggetlen, könnyen használható személyes pénzügy szoftver
Comment[is]=A frjáls, opinn-uppspretta, kross-pallur, þægilegur-til-nota persónuleg fjármál hugbúnaður
Comment[lv]=Bezmaksas, atvērtā koda, cross-platformu, viegli lietojamu personīgās finanšu programmatūru
Comment[nl]=Een vrije, open-source, cross-platform, makkelijk te gebruiken persoonlijke financiële software
Comment[no_NY]=A free, open-source, cross-platform, easy-to-use personal finance software
Comment[pt]=Um livre, open-source e multi-plataforma, fácil de usar software de finanças pessoais
Comment[pt_BR]=Um livre, open-source e multi-plataforma, fácil de usar software de finanças pessoais
Comment[ro]=Un gratuit, open-source, cross-platform, usor de folosit software-ul finanţelor personale
Comment[sk]=Zdarma, open-source, cross-platformové, bezstarostný-až k-cvičenie osobné financie softvér
Comment[sl]=A free, open-source, cross-platform, easy-to-use personal finance software
Comment[tr]=Ücretsiz, açık kaynak, çapraz platform, kolay kişisel finans yazılımı kullanma
Comment[uk]=A free, open-source, cross-platform, easy-to-use personal finance software
Icon=/usr/share/icons/hicolor/scalable/apps/mmex.svg
Terminal=false
DocPath=mmex/help/index.html
Categories=Finance;Office;
