#
# run 1
#
<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2">
<TMPL_VAR NAME = "BAD_VAR">

<TMPL_INCLUDE NAME="included.txt">

<TMPL_LOOP NAME="LOOP1">

  <TMPL_IF NAME="BAD_VAR">
    nada
  </TMPL_IF>

  <TMPL_IF NAME="table_1_column_1">
    <TMPL_VAR NAME = table_1_column_1>

    <TMPL_IF NAME="VAR2">
      <TMPL_VAR NAME = "VAR2">
      
      <TMPL_IF NAME="VAR">
        <TMPL_VAR NAME = "VAR">

        <TMPL_IF NAME="VAR2">
          <TMPL_VAR NAME = "VAR2">

          <TMPL_IF NAME="EMPTY1">
            unga
          <TMPL_ELSE>
            bunga
          </TMPL_IF>

        </TMPL_IF>

        <TMPL_VAR NAME = "VAR">
      </TMPL_IF>
    
    </TMPL_IF>

    <TMPL_VAR NAME = "VAR">
  </TMPL_IF>

</TMPL_LOOP>

<TMPL_INCLUDE NAME="included.txt">

<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2">
<TMPL_VAR NAME = "EMPTY1">
#
# run 2
#
<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2">
<TMPL_VAR NAME = "BAD_VAR">

<TMPL_INCLUDE NAME="included.txt">

<TMPL_LOOP NAME="LOOP1">

  <TMPL_IF NAME="BAD_VAR">
    nada
  </TMPL_IF>

  <TMPL_IF NAME="table_1_column_1">
    <TMPL_VAR NAME = table_1_column_1>

    <TMPL_IF NAME="VAR2">
      <TMPL_VAR NAME = "VAR2">
      
      <TMPL_IF NAME="VAR">
        <TMPL_VAR NAME = "VAR">

        <TMPL_IF NAME="VAR2">
          <TMPL_VAR NAME = "VAR2">

          <TMPL_IF NAME="EMPTY1">
            unga
          <TMPL_ELSE>
            bunga
          </TMPL_IF>

        </TMPL_IF>

        <TMPL_VAR NAME = "VAR">
      </TMPL_IF>
    
    </TMPL_IF>

    <TMPL_VAR NAME = "VAR">
  </TMPL_IF>

</TMPL_LOOP>

<TMPL_INCLUDE NAME="included.txt">

<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2">
<TMPL_VAR NAME = "EMPTY1">
