<TMPL_IF NAME="EMPTY1"> 
  evil
</TMPL_IF>

<TMPL_IF NAME="VAR"> 
  good
</TMPL_IF>

<TMPL_IF NAME="EMPTY2"> 
  evil
</TMPL_IF>

<TMPL_IF NAME="VAR"> 
  good
</TMPL_IF>

<TMPL_IF NAME=EMPTY3"> 
  evil
</TMPL_IF>

<TMPL_IF NAME="VAR"> 
  good
</TMPL_IF>
