<TMPL_IF NAME="EMPTY_LOOP">
  evil
<TMPL_ELSE>
  good
</TMPL_IF>
--------------------
<TMPL_IF NAME="LOOP1">
  good
<TMPL_ELSE>
  evil
</TMPL_IF>
--------------------
<TMPL_IF NAME="VAR"> 
  
  <TMPL_IF NAME="EMPTY1">
    evil
  </TMPL_IF> 

  good

</TMPL_IF>

<TMPL_IF NAME="VAR"> 

  <TMPL_IF NAME="VAR">
    good
  </TMPL_IF> 

  good

</TMPL_IF>

<TMPL_IF NAME="EMPTY2"> 
  
  <TMPL_IF NAME="VAR">
    evil
  </TMPL_IF> 

  evil

</TMPL_IF>
