<TMPL_IF NAME="EMPTY3">
  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 
<TMPL_ELSE>
  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 
</TMPL_IF>

<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2"> 

