<div id="search_results">
  <TMPL_IF NAME="RESULT_SET">
    <TMPL_VAR NAME="RESULT_SET">
  <TMPL_ELSE>
    Oops, sorry, there were no results found for <TMPL_VAR NAME="SEARCH_PARAM">
      <br><br>
      Would you like to <a href="http://www.goaskalice.columbia.edu/0775.html"><TMPL_VAR NAME="SEARCH_PARAM2">?</a>
  </TMPL_IF>
</div>

