<TMPL_IF NAME="EMPTY1">
  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 

  <TMPL_IF NAME="EMPTY2">
    <TMPL_VAR NAME = "VAR">
    <TMPL_VAR NAME = "VAR2"> 
  <TMPL_ELSE>
    <TMPL_VAR NAME = "VAR">
    <TMPL_VAR NAME = "VAR2"> 
  </TMPL_IF>

  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 
<TMPL_ELSE>
  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 

  <TMPL_IF NAME="VAR">
    <TMPL_VAR NAME = "TEXT">
  <TMPL_ELSE>
    <TMPL_VAR NAME = "VAR">
    <TMPL_VAR NAME = "VAR2"> 
  </TMPL_IF>

  <TMPL_VAR NAME = "VAR">
  <TMPL_VAR NAME = "VAR2"> 
</TMPL_IF>

<TMPL_VAR NAME = "VAR">
<TMPL_VAR NAME = "VAR2"> 

