<TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">

<TMPL_LOOP NAME="LOOP1">
  <TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">
  <TMPL_VAR NAME ="table_1_column_1"> | <TMPL_VAR NAME = "table_1_column_2">
  <TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">
  <TMPL_VAR NAME="NON_EXISTING">
</TMPL_LOOP>

<TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">

<TMPL_LOOP NAME="LOOP1">
  <TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">
  <TMPL_VAR NAME ="table_1_column_1"> | <TMPL_VAR NAME = "table_1_column_2">
  <TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">
  <TMPL_VAR NAME="EMPTY4">
</TMPL_LOOP>

<TMPL_VAR NAME="VAR"> | <TMPL_VAR NAME="VAR2">
