Column 1 value in global scope: <TMPL_VAR NAME=table_1_column_1> 
Column 2 value in global scope: <TMPL_VAR NAME=table_1_column_2>(should be blank) 
<TMPL_LOOP NAME=LOOP1>
  Column 1 value in loop scope:<TMPL_IF NAME=table_1_column_1><TMPL_VAR NAME=table_1_column_1></TMPL_IF>
  Column 2 value in loop scope:<TMPL_IF NAME=table_1_column_2><TMPL_VAR NAME=table_1_column_2></TMPL_IF>
  Column 9 value in loop scope:<TMPL_IF NAME=table_1_column_9><TMPL_VAR
  NAME=table_1_column_9><TMPL_ELSE>No such column, dude!</TMPL_IF>
  <TMPL_IF NAME =   VAR>
    <TMPL_IF NAME="VAR"><TMPL_VAR NAME="VAR"></TMPL_IF>
  </TMPL_IF>
</TMPL_LOOP>
