<TMPL_LOOP NAME="loop1">
  <TMPL_VAR NAME ="table_1_column_3"> | <TMPL_VAR NAME = "table_1_column_2"> |
  <TMPL_VAR NAME = "table_1_column_1">
</TMPL_LOOP>


<TMPL_LOOP NAME="LOOP1">
  <TMPL_VAR NAME ="table_1_column_3"> | <TMPL_VAR NAME = "table_1_column_2"> |
  <TMPL_VAR NAME = "table_1_column_1">
</TMPL_LOOP>


