<TMPL_LOOP NAME="LOOP1">
  <TMPL_VAR NAME = "table_1_column_1">

  <TMPL_LOOP NAME="LOOP2">
    <TMPL_VAR NAME = "table_2_column_1">
    <TMPL_VAR NAME = "table_2_column_2">
    <TMPL_VAR NAME = "table_2_column_3">
  </TMPL_LOOP>

</TMPL_LOOP>


