<TMPL_VAR NAME="VAR">
----------------------
<TMPL_VAR NAME="VAR2">
----------------------
<TMPL_VAR NAME="CHAR">
----------------------
<TMPL_VAR NAME="INT">
----------------------
<TMPL_VAR NAME="NEG_INT">
----------------------
<TMPL_VAR NAME="VAR_DBL">
----------------------
<TMPL_VAR NAME="EMPTY1">
----------------------
<TMPL_VAR NAME="EMPTY2">
----------------------
<TMPL_VAR NAME="EMPTY3">
----------------------
<TMPL_VAR NAME="EMPTY4">
----------------------
<TMPL_var name="NEMPTY1">
----------------------
<TMPL_VAR NAME="TEXT">
----------------------
<TMPL_VAR NAME="LOOP1">
----------------------
<tmpl_var name="bad_var">
----------------------
