<TMPL_UNLESS NAME="EMPTY1"> 
  good 
</TMPL_UNLESS>

<TMPL_UNLESS NAME="INT"> 
  bad
</TMPL_UNLESS>

<TMPL_UNLESS NAME="EMPTY2"> 
  good
</TMPL_UNLESS>

<TMPL_UNLESS NAME="TEXT"> 
  bad
</TMPL_UNLESS>

<TMPL_UNLESS NAME="EMPTY3"> 
  good 
</TMPL_UNLESS>

<TMPL_UNLESS NAME="EMPTY4"> 
  good
</TMPL_UNLESS>

<TMPL_UNLESS NAME="BAD_VAR"> 
  good
</TMPL_UNLESS>
